section {
    display: flex;
    justify-content: center;
}
div {
    box-shadow: 0px 0px 17px #e0e0e0;
    margin-bottom: 120px;
}
div h3:nth-child(2) {
    margin-top: -10px;
}
h2 {
    text-align: center;
    font-weight: 500;
}
h3 {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.line {
    width: 180px;
    position: absolute;
}
.line-left {
    transform-origin: left;
}
.line-right {
    transform-origin: right;
}
.anim p{
    transition: transform 300ms;
    transform: scaleX(0);
}
li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1000px) {
    section {
        width: 100%;
        min-width: 500px;
    }
    div {
        padding-left: 0;
        padding-right: 0;
    }
    h2 {
        font-size: 2.5em;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    h3 {
        font-size: 1.19em;
        margin-left: 0;
        margin-right: 0;
    }
    h3 p {
        visibility: hidden;
    }
     li {
        font-size: 1em;
        margin-top: -10px;
    }
}