/*------------------------------------------*/
/* ==            SUMMARY                   */
/*----------------------------------------*/
/* L8           COLOR CODES */
/* L18          SECTION */
/* L121         MEDIAS QUERIS */
/*------------------------------------------*/
/* ==            COLOR CODES               */
/*----------------------------------------*/
/*
Orange/Purple gradient (font-color le_chic_a_la_francaise):         #e38913 --> #8f5bfe
Dark orange (font-color entre):                                     #c67512
Purple light (font-color principale):                               #a56799
Dark purple (font-color dessert):                                   #6e4ccc
*/
/*------------------------------------------*/
/* ==            SECTION                   */
/*----------------------------------------*/
div {
    background-color: #fff5fe;
    padding: 30px 20px 60px 20px;
}
h2 {
    font-size: 2em;
    font-family: "croissant one";
    margin: 30px auto 50px auto;
    display: block;
    background: linear-gradient(167deg, #e38913 , #8f5bfe 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    margin: 70px auto 0 auto;
}
.line-left {
    width: 180px;
    position: absolute;
    left: 0;
    top: -4px;
    transform-origin: left;
    transform: scaleX(1.21);
}
.line-right {
    width: 180px;
    position: absolute;
    right: 0;
    top: -4px;
    transform-origin: right;
    transform: scaleX(1.21);
}
/* color-font */
.color-entre {
    color: #c67512
}
.color-principale {
    color: #a56799;
}
.color-dessert {
    color: #6e4ccc;
}
/* animation titre */
h3 p {
    margin-top: -14px;
}
.entre p {
    margin-left: -200.09px;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.82%;
}
.entre:hover p{
    transform: scaleX(66.5);
}
.plat-principale p {
    margin-left: -22.5%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.809%;
}
.plat-principale:hover p{
    transform: scaleX(49);
}
.dessert p {
    margin-left: -27%;
    bottom: -24px;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.809%;
}
.dessert:hover p{
    transform: scaleX(58.5);
}
li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
li p:nth-child(1) {
    margin-left: 40px;
}
li p:nth-child(2) {
    margin: auto 80px auto 30px;
}
/*------------------------------------------*/
/* ==            MEDIAS QUERIS             */
/*----------------------------------------*/
@media screen and (max-width: 1000px) {   
    section {
        width: 100%;
        min-width: 500px;
    }
    div {
        padding-left: 10px;
        padding-right: 0;
    }
    h2 {
        font-size: 2.5em;
        margin-bottom: 50px;
    }
    h3 {
        font-size: 1.19em;
        margin: 70px 0 30px 0;
    }
    h3 p {
        visibility: hidden;
    }
    ul{
        margin-top: -35px;
    }
    .line-left {
        height: 80%;
        width: 23%;
        left: 0;
        top: -10px;
    }
    .line-right {
        height: 80%;
        width: 23%;
        right: 0;
        top: -10px;
    }
    li {
        font-size: 1em;
        margin-top: -10px;
    }
    li p:nth-child(1) {
        margin-left: 0;
    }
    li p:nth-child(2) {
        margin-right: 41px;
    }
}