/*------------------------------------------*/
/* ==            SUMMARY                   */
/*----------------------------------------*/
/* L8           COLOR CODES */
/* L15          SECTION */
/* L192         MEDIAS QUERIS */
/*------------------------------------------*/
/* ==            COLOR CODES               */
/*----------------------------------------*/
/*
White (background div):                                             #edefef
Dark blue/Light blue gradient (font-color h2):                      #0020d8 --> #0889fb
*/
/*------------------------------------------*/
/* ==            SECTION                   */
/*----------------------------------------*/
div {
    background-color: #edefef;
    padding: 30px 45px 160px 45px;
    font-family: "Segoe Print";
}
h2 {
    font-size: 3.8em;
    font-family: "dancing script";
    margin: 30px auto 100px auto;
    display: block;
    background: linear-gradient(167deg, #0020d8, #0889fb 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    font-size: 16.5px;
    font-weight: 500;
    margin: 50px auto 0 auto;
}
.line {
    transform: scaleX(1);
}
.line-left {
    left: 0;
    top: -2px;
}
.line-principale-left {
    top: -5px;
}
.line-right {
    right: 0;
    top: -1px;
}
.line-principale-right {
    top: -5px;
}
/* animation titre */
h3 p {
    margin-top: -20px;
}
.anim p {
    transform-origin: 49.875%;
}
.entre p {
    margin-left: -179px;
}
.entre:hover p{
    transform: scaleX(96);
}
.plat-principale p {
    margin-left: -161.5px;
}
.plat-principale:hover p{
    transform: scaleX(87);
}
.dessert p {
    margin-left: -23.2%;
}
.dessert:hover p{
    transform: scaleX(84);
}
ul {
    margin-top: 0;
}
li {
    font-size: 14px;
}
li p:nth-child(1) {
    margin-left: 30px
}
li p:nth-child(2) {
    margin: auto 70px auto 15px;
    font-weight: 600;
}
/*------------------------------------------*/
/* ==            MEDIAS QUERIS             */
/*----------------------------------------*/
@media screen and (max-width: 1000px) {
    div {
        padding-left: 0;
        padding-right: 0;
    }
    ul{
        margin-top: -35px;
        margin-bottom: 20px;
    }
    .line {
        height: 40%;
        width: 22%;
    }
    .line-principale {
        top: -2px;
    }
    .line-left {
        left: 20px;
        top: 1px;
    }
    .line-right {
        right: 20px;
        top: 5px;
    }
    li {
        margin-top: -10px;
    }
}