/* général */

section {
    display: flex;
    justify-content: center;
}

div {
    background-color: #fcdfdb;
    padding: 30px;
    font-family: "Segoe Print";
    color: #3d1319;
    margin-bottom: 120px;
    padding-right: 100px;
    padding-left: 45px;
    box-shadow: 0px 0px 17px #e0e0e0;
}

div h3:nth-child(2) {
    margin-top: -10px;
}

h2 {
    text-align: center;
    font-size: 2.9em;
    font-family: "devonshire";
    font-weight: 500;
}

h2 i {
    font-size: 1.6em;
}

h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -35px;
    overflow: hidden;
    position: relative;
    font-size: 25px
}

.line-left {
    width: 180px;
    position: absolute;
    left: 6.8%;
    top: 9%;
    transform-origin: left;
    transform: scaleX(1.15)
}

.line-right {
    width: 180px;
    position: absolute;
    right: -0.9%;
    top: 9%;
    transform-origin: right;
    transform: scaleX(1.4)
}

/* animation titre */

.entre p {
    margin-top: -25px;
    margin-left: -12%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.768%;
}

.entre:hover p{
    transform: scaleX(27);
}

.plat-principale p {
    margin-top: -25px;
    margin-left: -22.2%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.789%;
}

.plat-principale:hover p{
    transform: scaleX(46);
}

.dessert p {
    margin-top: -25px;
    margin-left: -28.4%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.8%;
}

.dessert:hover p{
    transform: scaleX(60);
}

ul {
    margin-top: 0px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}


li p:nth-child(2) {
    font-weight: 600;
    margin-left: 50px;
}

.pied_menu {
    text-align: center;
    font-size: 2.35em;
    font-family: "devonshire";
    margin-top: 50px;
    margin-bottom: 20px
}

p i {
    font-size: 1.2em;
}
    
   

@media screen and (max-width: 400px) {
    
    section {
        justify-content: center;
    }
    
    div {
        width: 400px;
        min-width:  100%;
        max-width: 100%;
    }
    h2 {
        font-size: 1em;    
    }
    
    h3 {
        font-size: 1em;
    }
    
    h3 p {
        visibility: hidden;
    }
    
    section div {
        font-size: 1em;
        margin-bottom: px;
    }
    
    ul {
        margin-top: px;
    }
    
    .line-left {
        width: 180px;
        position: absolute;
        left: 6.8%;
        top: 15%;
        transform-origin: left;
        transform: scaleX(0.4)
    }

    .line-right {
        width: 180px;
        position: absolute;
        right: -0.9%;
        top: 15%;
        transform-origin: right;
        transform: scaleX(0.5)
    }
    
    li {
        font-size: 1em;
    }
    
    .pied_menu {
        font-size: 1em;
        
    }
}