/* général */

section {
    display: flex;
    justify-content: center;
}

div {
    background-color: #fcdfdb;
    padding: 30px;
    font-family: "Segoe Print";
    color: #3d1319;
    margin-bottom: 120px;
    padding-right: 100px;
    padding-left: 45px;
    box-shadow: 0px 0px 17px #e0e0e0;
}

div h3:nth-child(2) {
    margin-top: -10px;
}

h2 {
    text-align: center;
    font-size: 2.9em;
    font-family: "devonshire";
    font-weight: 500;
}

h2 i {
    font-size: 1.6em;
}

h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -35px;
    overflow: hidden;
    position: relative;
    font-size: 25px;
}

.line-left {
    width: 180px;
    position: absolute;
    left: 39px;
    top: 9%;
    transform-origin: left;
    transform: scaleX(1)
}

.line-right {
    width: 180px;
    position: absolute;
    right: -5px;
    top: 9%;
    transform-origin: right;
    transform: scaleX(1.4)
}

/* animation titre */

.entre p {
    margin-top: -25px;
    margin-left: -12%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.768%;
}

.entre:hover p{
    transform: scaleX(27);
}

.plat-principale p {
    margin-top: -25px;
    margin-left: -22.2%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.789%;
}

.plat-principale:hover p{
    transform: scaleX(46);
}

.dessert p {
    margin-top: -25px;
    margin-left: -28.4%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.8%;
}

.dessert:hover p{
    transform: scaleX(60);
}

ul {
    margin-top: 0px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}


li p:nth-child(2) {
    font-weight: 600;
    margin-left: 50px;
    margin-right: 20px;
}

.pied_menu {
    text-align: center;
    font-size: 2.35em;
    font-family: "devonshire";
    margin-top: 50px;
    margin-bottom: 20px
}

p i {
    font-size: 1.2em;
}

@media screen and (max-width: 700px) {
    
    section {
        width: 400px;
        min-width: 100%;
    }
    div {
        padding-left: 0px;
        padding-right: 0px;
    }
    h2 {
        font-size: 2.5em;    
    }
    
    h3 {
        font-size: 1.19em;
    }
    
    h3 p {
        visibility: hidden;
    }
    ul{
        margin-top: 10px;
        margin-left: -10px;
    }
    
    .line-left {
        left: 30px;
        top: 5%;
        transform: scaleX(0.45)
    }

    .line-right {
        right: 15px;
        top: 5%;
        transform: scaleX(0.54)
    }
    
    li {
        font-size: 1em;
        margin-top: -10px
    }
    
    .pied_menu {
        font-size: 2em;
        
    }
}