/*------------------------------------------*/
/* ==            SUMMARY                   */
/*----------------------------------------*/
/* L8           COLOR CODES */
/* L16          SECTION */
/* L108         MEDIAS QUERIS */
/*------------------------------------------*/
/* ==            COLOR CODES               */
/*----------------------------------------*/
/*
White (background div):                                             #fdfffd
Dark green/Light green (font-color h2):                             #3d923a --> #bfff7f
*/
/*------------------------------------------*/
/* ==            SECTION                   */
/*----------------------------------------*/
div {
    background-color: #fdfffd;
    padding: 30px 100px 120px 45px;
    font-family: "Segoe Print";
}
h2 {
    font-size: 3.8em;
    font-family: "kaushan script";
    margin: 30px auto 100px auto;
    display: block;
    background: linear-gradient(150deg, #3d923a, #bfff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    font-size: 16.5px;
    font-weight: 500;
    margin: 50px -12% 18px -2%;
}
.line-left {
    width: 180px;
    position: absolute;
    left: 0;
    top: -2px;
    transform-origin: left;
    transform: scaleX(1.4)
}
.line-right {
    width: 180px;
    position: absolute;
    right: 0;
    top: -1px;
    transform-origin: right;
    transform: scaleX(1.45)
}
/* animation titre */
h3 p {
    margin-top: -20px;
}
.entre p {
    margin-left: -8.3%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.87%;
}
.entre:hover p{
    transform: scaleX(33);
}
.plat-principale p {
    margin-left: -20%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.88%;
}
.plat-principale:hover p{
    transform: scaleX(77);
}
.dessert p {
    margin-left: -23%;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.884%;
}
.dessert:hover p{
    transform: scaleX(87);
}
li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
li p:nth-child(2) {
    margin-left: 50px;
}
/*------------------------------------------*/
/* ==            MEDIAS QUERIS             */
/*----------------------------------------*/
@media screen and (max-width: 1000px) {
    section {
        width: 100%;
        min-width: 500px;
    }
    div {
        padding-left: 0;
        padding-right: 0;
    }
    h2 {
        font-size: 2.5em;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    h3 {
        font-size: 1.19em;
        margin-left: 0;
        margin-right: 0;
    }
    h3 p {
        visibility: hidden;
    }
    ul{
        margin-top: -35px;
    }
    .line-left {
        height: 40%;
        width: 16%;
        left: 20px;
        top: 5%;
    }
    .line-right {
        
        height: 40%;
        width: 16%;
        right: 20px;
        top: 5%;
    }
    li {
        font-size: 1em;
        margin-top: -10px
    }
    li p:nth-child(2) {
        margin-right: 41px
    }
}