/* général */

section {
    display: flex;
    justify-content: center;
}

div {
    background-color: #fff5fe;
    padding: 30px;
    box-shadow: 0px 0px 17px #e0e0e0;
    margin-bottom: 120px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 60px;
}

div h3:nth-child(2) {
    margin-top: -10px;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-family: "croissant one";
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
    background: linear-gradient(167deg, #e38913 , #8f5bfe 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

.line-left {
    width: 180px;
    position: absolute;
    left: 0;
    top: -4px;
    transform-origin: left;
    transform: scaleX(1.21)
}

.line-right {
    width: 180px;
    position: absolute;
    right: 0;
    top: -4px;
    transform-origin: right;
    transform: scaleX(1.21)
}

/* color-font */

.color-entre {
    color: #c67512
}

.color-principale {
    color: #a56799;
}

.color-dessert {
    color: #6e4ccc;
}

/* animation titre */

h3 p {
    margin-top: -14px;
}
.entre p {
    margin-left: -200.09px;
    right: 0;
    left: 0;
    bottom: -24px;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.82%;
}

.entre:hover p{
    transform: scaleX(66.5);
}

.plat-principale p {
    margin-left: -22.5%;
    right: 0;
    left: 0;
    bottom: -24px;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.809%;
}

.plat-principale:hover p{
    transform: scaleX(49);
}

.dessert p {
    margin-left: -27%;
    bottom: -24px;
    transition: transform 300ms;
    transform: scaleX(0);
    transform-origin: 49.809%;
}

.dessert:hover p{
    transform: scaleX(58.5);
}

/* --- */

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

li p:nth-child(1) {
    margin-left: 40px;
}

li p:nth-child(2) {
    margin-left: 30px;
    margin-right: 80px
}

/* responsive */

@media screen and (max-width: 700px) {
    
    section {
        width: 400px;
        min-width: 100%;
    }
    div {
        padding-left: 10px;
        padding-right: 0;
    }
    h2 {
        font-size: 2.5em;
        margin-bottom: 50px;
    }
    
    h3 {
        font-size: 1.19em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    h3 p {
        visibility: hidden;
    }
    ul{
        margin-top: -35px;
    }
    
    .line-left {
        left: 0;
        transform: scaleX(0.45)
    }
    .line-right {
        right: 0;
        transform: scaleX(0.45)
    }
    
    li {
        font-size: 1em;
        margin-top: -10px
    }
    li p:nth-child(1) {
        margin-left: 0;
    }
    li p:nth-child(2) {
        margin-right: 41px
    }
}