/*------------------------------------------*/
/* ==            SUMMARY                   */
/*----------------------------------------*/
/* L8           COLOR CODES */
/* L16          SECTION */
/* L108         MEDIAS QUERIS */
/*------------------------------------------*/
/* ==            COLOR CODES               */
/*----------------------------------------*/
/*
White (background div):                                             #fdfffd
Dark green/Light green (font-color h2):                             #3d923a --> #bfff7f
*/
/*------------------------------------------*/
/* ==            SECTION                   */
/*----------------------------------------*/
div {
    background-color: #fdfffd;
    padding: 30px 100px 120px 45px;
    font-family: "Segoe Print";
}
h2 {
    font-size: 3.8em;
    font-family: "kaushan script";
    margin: 30px auto 100px auto;
    display: block;
    background: linear-gradient(150deg, #3d923a, #bfff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    font-size: 16.5px;
    font-weight: 500;
    margin: 50px -12% 18px -2%;
}
.line {
    top: -2px;
    transform: scaleX(1.4)
}
.line-left {
    left: 0;
}
.line-right {
    right: 0;
}
/* animation titre */
h3 p {
    margin-top: -20px;
}
.entre p {
    margin-left: -8.3%;
    transform-origin: 49.87%;
}
.entre:hover p{
    transform: scaleX(33);
}
.plat-principale p {
    margin-left: -20%;
    transform-origin: 49.88%;
}
.plat-principale:hover p{
    transform: scaleX(77);
}
.dessert p {
    margin-left: -23%;
    transform-origin: 49.884%;
}
.dessert:hover p{
    transform: scaleX(87);
}
li {
    font-size: 14px;
}
li p:nth-child(2) {
    margin-left: 50px;
}
/*------------------------------------------*/
/* ==            MEDIAS QUERIS             */
/*----------------------------------------*/
@media screen and (max-width: 1000px) {
    ul{
        margin-top: -35px;
    }
    .line {
        height: 40%;
        width: 16%;
        top: 5%;
    }
    .line-left {
        left: 20px;
    }
    .line-right {
        right: 20px;
    }
}