/*------------------------------------------*/
/* ==            SUMMARY                   */
/*----------------------------------------*/
/* L8           COLOR CODES */
/* L15          SECTION */
/* L89         MEDIAS QUERIS */
/*------------------------------------------*/
/* ==            COLOR CODES               */
/*----------------------------------------*/
/*
Beige (background div):                                            #fcdfdb
Dark red (font-color div):                                         #3d1319
*/
/*------------------------------------------*/
/* ==            SECTION                   */
/*----------------------------------------*/
div {
    background-color: #fcdfdb;
    padding: 30px 0 30px 0;
    font-family: "Segoe Print";
    color: #3d1319;
}
h2 {
    font-size: 2.9em;
    font-family: "devonshire";
}
h2 i {
    font-size: 1.6em;
}
h3 {
    margin: 50px auto -35px auto;
    font-size: 25px;
}
.line {
    top: 9%;
    transform: scaleX(1.25)
}
.line-left {
   left: 39px;
}
.line-right {
    right: 40px;
}
/* animation titre */
h3 p {
    margin-top: -30px;
}
.entre p {
    margin-left: -12%;
    transform-origin: 49.768%;
}
.entre:hover p{
    transform: scaleX(27);
}
.plat-principale p {
    margin-left: -22.2%;
    transform-origin: 49.789%;
}
.plat-principale:hover p{
    transform: scaleX(46);
}
.dessert p {
    margin-left: -28.4%;
    transform-origin: 49.8%;
}
.dessert:hover p{
    transform: scaleX(60);
}
ul {
    margin-top: 0px;
}
li {
    font-size: 18px;
}
li p:nth-child(2) {
    font-weight: 600;
    margin: auto 50px auto 48px
}
.pied_menu {
    text-align: center;
    font-size: 2.35em;
    font-family: "devonshire";
    margin: 50px auto 20px auto;
}
p i {
    font-size: 1.2em;
}
/*------------------------------------------*/
/* ==            MEDIAS QUERIS             */
/*----------------------------------------*/
@media screen and (max-width: 1000px) {
    ul{
        margin: 10px auto auto -10px;
    }
    .line {
        height: 30%;
        width: 18%;
    }
    .line-left {
        left: 30px;
        top: 6px;
    }
    .line-right {
        right: 20px;
        top: 9px;
    }
    .pied_menu {
        font-size: 2em;  
    }
}